{% extends 'base/base.html' %}
{% load static %}
{% block title %}Add Doctor{% endblock title %}
{% block body %}
<div class="content">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <h4 class="page-title">Add Doctor</h4>
            <p class="text-center text-danger font-weight-bold">{{msg}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>First Name <span class="text-danger">*</span></label>
                            <input required class="form-control" type="text" name="first_name">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Last Name</label>
                            <input required class="form-control" type="text" name="last_name">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Username <span class="text-danger">*</span></label>
                            <input required class="form-control" type="text" name="username">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Email <span class="text-danger">*</span></label>
                            <input required class="form-control" type="email" name="email">
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Password</label>
                            <input required class="form-control" type="password" name="password1">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Date of Birth</label>
                            <div class="">
                                <input required type="date" name="dob" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group gender-select">
                            <label class="gen-label">Gender:</label>
                            <select class="form-select" name="gender" style="
                            width: 100%;
                            padding: 5px;
                            outline: none;
                            border: 1px solid gray;
                        ">
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                              </select>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group gender-select">
                            <label class="gen-label">Department:</label>
                            <select class="form-select" style="padding: 5px;outline: none;color: gray;border: 1px solid gray;border-radius: 5px;width: 100%;" name="department">
                                <option selected disabled>Department Name</option>
                                {% for department in departments %}
                                <option value="{{department.id}}"> {{department.department_name}} </option>
                                {% endfor %}
                              </select>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Address</label>
                                    <input required type="text" class="form-control " name="address">
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-3">
                                <div class="form-group">
                                    <label>Country</label>
                                    <input required type="text" class="form-control" name="country">
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-3">
                                <div class="form-group">
                                    <label>City</label>
                                    <input required type="text" class="form-control" name="city">
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-3">
                                <div class="form-group">
                                    <label>State/Province</label>
                                    <input required type="text" class="form-control" name="state">
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-3">
                                <div class="form-group">
                                    <label>Postal Code</label>
                                    <input required type="text" name="postal_code" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Phone </label>
                            <input required class="form-control" name="phone" type="text">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Avatar</label>
                            <div class="profile-upload">
                                <div class="upload-img">
                                    <img alt="" src="{% static 'base/assets/img/user.jpg' %}">
                                </div>
                                <div class="upload-input">
                                    <input type="file" name="avater" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Short Biography</label>
                    <textarea class="form-control" name="sort_bio" rows="3" cols="30"></textarea>
                </div>
                <div class="form-group">
                    <label class="display-block">Status</label>
                    <select class="form-select" name="status" aria-label="Default select example" style="width: 25%;padding: 5px;outline: none;border: 1px solid gray;">
                        <option value="Active">Active</option>
                        <option value="Inactive">Inactive</option>
                      </select>
                </div>
                <div class="m-t-20 text-center">
                    <button class="btn btn-primary submit-btn">Create Doctor</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock body %}