{% extends 'base/base.html' %}
{% load static %}
{% block title %}add_appointment{% endblock title %}
{% block body %}
<div class="content">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <h4 class="page-title">Add Appointment</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <form>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Appointment ID</label>
                            <input class="form-control" type="text" value="{{appointment_id_}}" readonly=""
                                name="appointment_id" id="appointment_id">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Patient Name</label><br>
                            <select class="form-select"
                                style="padding: 5px;outline: none;color: gray;border: 1px solid gray;border-radius: 5px;width: 100%;"
                                name="patient">
                                <option selected disabled>Patient Name</option>
                                {% for patient in patients %}
                                <option value="{{patient.id}}"> {{patient.user.first_name}}
                                    {{patient.user.last_name}} </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Department</label>
                            <select class="form-select"
                                style="padding: 5px;outline: none;color: gray;border: 1px solid gray;border-radius: 5px;width: 100%;"
                                name="department" id="department-select">
                                <option selected disabled>Department</option>
                                {% for department in departments %}
                                <option value="{{department.id}}"> {{department.department_name}} </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Doctor</label>
                            <select class="form-select"
                                style="padding: 5px;outline: none;color: gray;border: 1px solid gray;border-radius: 5px;width: 100%;"
                                name="doctor" id="doctor-select">
                                <option selected disabled>Select Department first!</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Date</label>
                            <div class="">
                                <input type="date" class="form-control " name="date">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Time</label>
                            <div class="">
                                <input type="time" class="form-control" id="" name="time">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="display-block">Appointment Status</label>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="status" id="product_active" value="Active"
                            checked="">
                        <label class="form-check-label" for="product_active">
                            Active
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="status" id="product_inactive"
                            value="Inactive">
                        <label class="form-check-label" for="product_inactive">
                            Inactive
                        </label>
                    </div>
                </div>
                <div class="m-t-20 text-center">
                    <button class="btn btn-primary submit-btn">Create Appointment</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="{% static 'base/assets/js/cdnjs.cloudflare.com_ajax_libs_jquery_3.7.0_jquery.min.js' %}"></script>
<script>
    $(document).ready(function () {
        $('#department-select').on('change', function () {
            var departmentId = $(this).val();

            // Clear previous options
            $('#doctor-select').html('<option value="">Select Doctor</option>');

            // Fetch doctors based on the selected department
            $.ajax({
                url: Window.location,
                type: 'GET',
                data: { department_id: departmentId },
                success: function (response) {
                    // Add options for each doctor
                    $.each(response.doctors, function (index, doctor) {
                        $('#doctor-select').append('<option value="' + doctor.id + '">' + doctor.user__first_name +' '+ doctor.user__last_name +'</option>');
                    });
                },
                error: function (xhr) {
                    console.log(xhr.responseText);
                }
            });
        });
    });
</script>
{% endblock body %}