{% extends 'base/base.html' %}
{% load static %}
{% block title %}{% endblock title %}
{% block body %}
<div class="content">
    <div class="row">
        <div class="col-sm-4 col-3">
            <h4 class="page-title">Doctors</h4>
        </div>
        <div class="col-sm-8 col-9 text-right m-b-20">
            <a href="{% url 'add-doctor' %}" class="btn btn-primary btn-rounded float-right"><i class="fa fa-plus"></i>
                Add Doctor</a>
        </div>
    </div>
    <div class="row doctor-grid">

        {% if doctors %}
        {% for doctor in doctors %}
        <div class="col-md-4 col-sm-4  col-lg-3">
            <div class="profile-widget">
                <div class="doctor-img">
                    <a class="avatar" href="#"><img alt=""
                            src="{{doctor.avatar.url}}"></a>
                </div>
                <div class="dropdown profile-action">
                    <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i
                            class="fa fa-ellipsis-v"></i></a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="edit-doctor.html"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                        <a class="dropdown-item" href="{% url 'delete-doctor' doctor.id %}"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                    </div>
                </div>
                <h4 class="doctor-name text-ellipsis"><a href="#">{{doctor.user.first_name}} {{doctor.user.last_name}}</a></h4>
                <div class="doc-prof">Gynecologist</div>
                <div class="user-country">
                    <i class="fa fa-map-marker"></i> {{doctor.country}},
                    {{doctor.city}}, {{doctor.state}}
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <p class="text-center text-danger w-100 font-weight-bold">Doctor not available.</p>
        {% endif %}


    </div>
</div>

{% endblock body %}